# Virtual Environment
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Distribution / Build
dist/
build/
*.spec
!GeminiFileSearch.spec

# IDEs
.vscode/
.idea/

# Local Uploads
uploads/
